
/*nav*/

.menu{
    display: none;
    position: absolute;
    top:6rem;
    right:0.5rem;
    box-shadow: 2px 2px 10px black;
    height: auto;
    background-color: rgba(245,245,245,0.8);
    padding: 1rem;
}


input[type="checkbox"]:checked ~ .menu{
    display: block;
}


.menu li:hover{
    border-top:0px;
    font-weight: bold;
}


.menu li:hover a{
    color: rgb(79,171,177);
}


.menu li{
    margin-top: 15px; 
}


.show-menu{
    display: block;
}


/*slider*/

#slideshow{
    display: none;
}

.accueil-phone{
    display: block;
    margin-top: 8rem;
    margin-bottom: 7rem;
}

.accueil-phone p{
    color:#23afb4;
} 

.accueil-phone a{
    font-size: 1.8em;
}

/*services*/

#services{
    margin-top: -10rem;
padding-top: 8rem;
}


.img-design-seo{
    margin-top: 1rem;
}


.design-seo{
    margin-left:0;
}


.mac{
    display: none;
}


.icone-text{
    display: flex;
    flex-direction: column;
}


.icone{
    text-align: center;
}


.icone-text h1{
    text-align: center;
}

.icone-text p{
    text-align: center;
}

/*projet*/

.projets ul{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.projets ul li:first-child{
    border-radius: 5px;
}


.projets ul li:last-child{
    border-radius: 5px;
    margin-bottom: 2rem;
}

.projets ul li{
    border-radius: 5px;
}

.projets li{
    margin-top: 1rem;
}


.portfolio-item .caption-portfolio{
    display: block;
}


.portfolio-item{
    width:100%;
}

.portfolio .icone{
    position: absolute;
    top:-25px;;
    right:30px;
    font-size: 1.5em;
}


/*contact*/

.map{
    display: flex;
    flex-direction: column;
}


.contact-info{
    position: relative;
    left:0;
    width: 100%;
    background-color: #f5f5f5;
}


.contact-info p,h1{
    text-align: center;
}


.contact-info input,textarea{
    width:90%;
    max-width:90%;
}


.contact-info .submit{
    width:100%;
}



/*footer*/

footer{
    display: flex;
    flex-direction: column;
}


footer .reseaux{
   margin: auto;
    margin-bottom: 2rem;
}

@media screen and (max-width:340px){
    .mentions{
        flex-direction: column;
    }
    
    .mentions li{
        margin: auto;
        text-align: center;
    }
}

footer ul{
    margin-bottom: 2rem;
}


.icone{
    margin: auto;
}


.icone-text .fa-circle{
    font-size: 1em;
    right: 0px;
    top:40%;
}


iframe{
    margin: auto;
}